body {
    background: rgb(23, 130, 144);
}

h1 {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}

h2 {
    font-size: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
    margin-top: 150px;
}

h4 {
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}

form p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align:center;
}

#contacto {
    display: block;
    width: 30%;
    padding: 15px;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background: rgb(32, 50, 154);
    color: #000;
    float: left;
    border-radius: 50px;
    font-size: 30px;
    font-family: "Lucida Sans"
}

#trabajos {
    display: block;
    width: 30%;
    padding: 15px;
    border: none;
    margin-bottom: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    background: rgb(32, 50, 154);
    color: #000;
    float: right;
    border-radius: 50px;
    font-size: 30px;
    font-family: "Lucida Sans"
}

div {
    text-align: center;
}

footer {
    text-shadow:0em;
    text-align: center;
    font-size: 20px;
    font-family: "Lucida Sans"
}

#bang {
    border-radius: 50px;
    width: 500px;
}
#lambo {
    border-radius: 50px;
    width: 500px;
}
#mirror {
    border-radius: 50px;
    width: 500px;
}

#coso {
border-radius: 37px;
background: linear-gradient(45deg, #6541a6, #5a2fa4);
box-shadow:  22px -22px 44px #281f39,
             -22px 22px 44px #523f73;
margin-bottom: 100px;
margin-top:100px;
}

li {
    list-style:none;
}